.backcolor{
  background-color: red;
  text-align: center;
  font-size: 50px;
}

.imgdiv{
  height: 450px;
  width: 700px;
  margin-left: 175px;
  border-radius: 3%;
}

.button1{
  border-radius: 5px;
  margin-left: 800px;
  color: grey;
}

button:hover{
 cursor: pointer;
}
